[colors-dark]
# Base16 {{scheme-name}} - foot color config
# Scheme by {{scheme-author}}

background={{base00-hex}}
foreground={{base05-hex}}

# normal
regular0={{base00-hex}}
regular1={{base08-hex}}
regular2={{base0B-hex}}
regular3={{base0A-hex}}
regular4={{base0D-hex}}
regular5={{base0E-hex}}
regular6={{base0C-hex}}
regular7={{base05-hex}}

# bright
bright0={{base03-hex}}
bright1={{base09-hex}}
bright2={{base01-hex}}
bright3={{base02-hex}}
bright4={{base04-hex}}
bright5={{base06-hex}}
bright6={{base0F-hex}}
bright7={{base07-hex}}

# misc
selection-background={{base05-hex}}
selection-foreground={{base00-hex}}
urls={{base04-hex}}
jump-labels={{base00-hex}} {{base0A-hex}}
scrollback-indicator={{base00-hex}} {{base04-hex}}
