[color]
background = '#{{base00-hex}}'
foreground = '#{{base05-hex}}'

gradient = 1

gradient_color_1 = '#{{base0D-hex}}'
gradient_color_2 = '#{{base0E-hex}}'
gradient_color_3 = '#{{base0C-hex}}'

horizontal_gradient = 0

horizontal_gradient_color_1 = '#{{base0D-hex}}'
horizontal_gradient_color_2 = '#{{base0E-hex}}'
horizontal_gradient_color_3 = '#{{base0C-hex}}'
horizontal_gradient_color_4 = '#{{base0E-hex}}'
horizontal_gradient_color_5 = '#{{base0D-hex}}'
